# I've got important stuff in these messages!
test_messages/*
extra_tests/*
static/img/favicons/*
static/js/aggregate/*.js
static/css/aggregate/*.css
logs/*
misc/*
config.py
*.pyc
*.pyo
.DS_Store
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
